version: 2.1
workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
jobs:
  build:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: |
            # pytest would be a dep in requirements.txt
            sudo pip install nose2
            nose2 -s tests/ --verbose --plugin nose2.plugins.attrib -A basic
          name: Test
  docs:
    executor: python/default
    steps:
      - checkout
      - run:
          name: Build Documentation
          command: |
            cd gendocs && make clean && make html && cd ..
            rsync -crv --delete --exclude=README.rst gendocs/_build/html/ docs/

  deploy:
    executor: cimg/python:3.9.11
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          name: Build package
          command: |  # create whl, install twine and publish to Test PyPI
            python setup.py sdist bdist_wheel
            sudo pip install pipenv
            pipenv install twine
            pipenv run twine upload --repository testpypi dist/*

orbs:
  python: circleci/python@2.0.3
  pylint: qventus/python-lint@0.0.6